@import "./typo.css";

body {
  background-color: #000000;
  color: #fff;
}

header {
  background-color: #06131f;
  height: 80px;
  display: flex;
  align-items: center;
}

header .container {
  background-color: #06131f;
}

header .container img {
  height: 50px;
}

.container {
  background-color: #1d2d3c;
  margin: auto;
}

.wrapped {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.disc {
  width: calc(100% / 3 - 40px);
  background-color: #112030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

.disc img {
  width: 100%;
}

/* RESPONSIVE */

/* Tablet e Desktop */
@media screen and (max-width: 992px) {
  .disc {
    width: calc(100% / 2 - 40px);
  }
}

@media screen and (max-width: 576px) {
  .disc {
    width: calc(100% - 40px);
  }
}
